<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="../styles/other.css"/>
   <link rel="stylesheet" type="text/css" href="../styles/aboutus.css"/>
   <script src="../js/index.js" defer></script>
   <title>About Us</title>
</head>
<body id="body">

   <div class="content-holder">
      <div>
         Welcome to Luffy's Center!
      </div>

      <p>
         At XYZ IT Training Center, we are passionate about nurturing tech 
         enthusiasts and paving the way for a brighter digital future. 
         Established with a vision to empower individuals with the skills needed 
         to thrive in the rapidly evolving IT landscape, we are committed to 
         providing top-tier education and hands-on experiences.
      </p>

      <div>
         Our Mission
      </div>

      <p>
         To equip aspiring IT professionals with the knowledge, practical skills, 
         and creativity necessary to excel in the dynamic world of technology.
      </p>

      <div>
         What Sets Us Apart
      </div>

      <ul>
         <li>
            <span>Expert Guidance:</span> Our experienced instructors are dedicated to guiding you 
            through your learning journey, ensuring you grasp concepts thoroughly and apply them effectively.
         </li>

         <li>
            <span>Hands-On Learning:</span> We believe in learning by doing. Our practical, hands-on approach allows 
            you to apply theoretical knowledge to real-world scenarios, preparing you for success in the IT industry.
         </li>

         <li>
            <span>Inclusive Community:</span> Join a supportive community of like-minded individuals. Collaborate, share 
            ideas, and grow together as you traverse the exciting realms of programming, web development, and beyond.
         </li>
      </ul>

      <div>
         Courses Tailored for Success
      </div>

      <p>
         We offer a wide array of courses, ranging from fundamental programming languages to advanced 
         web development and database management. Whether you're a beginner or seeking to enhance your 
         skills, we have a course designed just for you.
      </p>

      <div class="feedback-holder" id="rating-reaction">
         <div>Rate Us from 1 to 4</div>

         <div class="radio-holder">
            <span class="radio" id="1">1</span>
            <span class="radio" id="2">2</span>
            <span class="radio" id="3">3</span>
            <span class="radio" id="4">4</span>
         </div>
      </div>
   </div>
   
</body>
</html>