<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="../styles/other.css">
   <script src="../js/index.js" defer></script>
   <title>Courses</title>
</head>
<body id="body">

   <div class="middle-holder">
      <div class="start-para">
         <p>
            <span style="color: #ffffff; font-size: 30px;">Embarking on an IT course opens a door to a world brimming with innovation and boundless opportunities.</span>
            <ul>
               <li>
                  Immerse yourself in a dynamic curriculum meticulously designed to equip you with the latest technological 
                  advancements, programming languages, and problem-solving skills.
               </li>
               <li>
                  Delve into the captivating realms of web and mobile development, database management, cybersecurity, and much more.
               </li>
               <li>
                  Our experienced instructors, passionate about the 
                  ever-evolving tech landscape, will guide you step by step, fostering your potential and nurturing your coding prowess.
               </li>
               <li>
                  Join a community of like-minded enthusiasts, where collaboration and knowledge-sharing are at the core.
               </li>
               <li>
                  Envision a future where your IT expertise reshapes industries and impacts lives.
               </li>
               <li>
               Take the first leap into this exhilarating journey your gateway to a promising IT career awaits.  
               </li>
            </ul>
         </p>
      </div>

      <div class="second-one">
         <div class="second-header">
            <p>
               What You Will Get Here?
            </p>
         </div>

         <div class="box-holder">
            <div class="box">
               <div class="image-holder">
                  <img src="/images/1.jpg"/>
                  <div></div>
               </div>

               <div class="img-info-holder">
                  <p>
                     Enhance Your Coding Skill
                  </p>
               </div>
            </div>

            <div class="box">
               <div class="image-holder">
                  <img src="/images/5.jpg"/>
                  <div></div>
               </div>
               
               <div class="img-info-holder">
                  <p>
                     Meet With Skilled Trainers
                  </p>
               </div>
            </div>

            <div class="box">
               <div class="image-holder">
                  <img src="/images/6.jpg"/>
                  <div></div>
               </div>
               
               <div class="img-info-holder">
                  <p>
                     Be A Professional Programmer
                  </p>
               </div>
            </div>

            <div class="box">
               <div class="image-holder">
                  <img src="/images/7.jpg"/>
                  <div></div>
               </div>
               
               <div class="img-info-holder">
                  <p>
                     Job Appotunity
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
   
</body>
</html>