<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="../styles/index.css"/>
   <title>Home</title>
</head>
<body>

   <div class="fake-body">
      <div class="navbar">
         <div class="logo-holder">
            <span style="margin-right: 18px; color: #E6304E">Luffy's</span><span style="color: rgb(20, 220, 255);">Center</span>
         </div>

         <div class="link-holder">
            <div>
               <a href="/template/course.html">Courses</a>
            </div>
   
            <div>
               <a href="/template/timetable.html">Time Table</a>
            </div>
   
            <div>
               <a href="/template/aboutus.html">About Us</a>
            </div>
         </div>
      </div>

      <div class="first-part">
         <img class="background" src="/images/2.jpg"/>
         <div class="blur-div"></div>

         <div class="content-holder">
            <div class="left-holder">
               <div class="ads-holder">
                  <div>Unlock Your Coding Potential at <span style="color: red; font-weight: 500;">Luffy's Center</span>! Dive into the World of Code with Expert Guidance and Personalized Instruction! Learn, Play, and Thrive in the IT Universe - Your Journey to Success Starts Here!</div>
               </div>
               <div class="button-holder">
                  <a href="#">
                     <button>Start Your Journey</button>
                  </a>
               </div>
            </div>

            <div class="right-holder">
               <img class="image" src="/images/4.png"/>
            </div>
         </div>
      </div>

      

      <div class="bottom-part">
         <div>@Copy right by Gusto University</div>
         <div>Luffy's Center</div>
      </div>
   </div>
   
</body>
</html>