<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="../styles/other.css"/>
   <link rel="stylesheet" type="text/css" href="../styles/register.css"/>
   <script src="../js/index.js" defer></script>
   <title>Register</title>
</head>
<body id="body" style="height: 100vh;">

   <div class="form-holder">
      <div>
         <img src="../images/10.png"/>
         <input type="text" id="name" placeholder="Enter Your Name"/>
      </div>
      <div>
         <img src="../images/11.png"/>
         <input type="text" id="email" placeholder="Enter Your Email"/>
      </div>
      <div>
         <img src="../images/12.png"/>
         <input type="number" id="number" placeholder="Enter Your Phone Number"/>
      </div>

      <div class="radio-holder">
         <input type="radio" name="gender" value="male" id="male"/>
         <label for="male">Male</label>

         <input type="radio" name="gender" value="female" id="female"/>
         <label for="female">Female</label>
      </div>
   </div>
   
</body>
</html>