<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="../styles/other.css"/>
   <link rel="stylesheet" type="text/css" href="../styles/timetable.css"/>
   <script src="../js/index.js" defer></script>
   <title>Time Table</title>
</head>
<body id="body">

   <div class="content-holder">
      <div class="img-text-holder">
         <div class="text-holder">
            <p>
               Join us on an exciting IT learning journey! Our doors swing wide 
               open at 9:00 AM, Monday through Friday, welcoming all aspiring 
               tech enthusiasts to dive into the world of coding, development, and innovation!
            </p>
         </div>

         <div class="img-holder">
            <img src="../images/9.jpeg"/>
            <div class="img-holder-blur"></div>
         </div>
      </div>

      <div class="img-text-holder">
         <div class="img-holder">
            <img src="../images/8.jpg"/>
            <div class="img-holder-blur"></div>
         </div>

         <div class="text-holder">
            <p>
               Seize the day with our carefully curated semesters designed to ignite your 
               IT passion and accelerate your growth. We offer two dynamic semesters, Fall 
               and Spring, ensuring that your learning journey aligns seamlessly with your aspirations.
            </p>
         </div>
      </div>

      <div class="semester-holder">
         <div class="fall">
            <p>Fall Semester</p>

            <ul>
               <li>
                  Begins: September 1
               </li>
               <li>
                  Ends: December 15
               </li>
            </ul>

            <span style="color: rgb(105, 225, 255)">Embark on a learning adventure as autumn leaves cascade and witness your skills blossom!</span>
         </div>

         <div class="seperator"></div>

         <div class="spring">
            <p>Spring Semester</p>

            <ul>
               <li>
                  Begins: January 15
               </li>

               <li>
                  Ends: May 30
               </li>
            </ul>

            <span style="color: rgb(255, 122, 122);">Let the promise of spring invigorate your IT aspirations as you flourish in knowledge and expertise!</span>
         </div>
      </div>

      <div class="table-holder">
         <p>Time Table</p>

         <table>
            <tr>
               <td class="day">Day / Time</td>
               <td class="time" style="color: #ffffff; font-weight: 600; background-color: rgb(87, 87, 255);">8:00 - 9:00</td>
               <td rowspan="6" style="width: 5%;">B<br>r<br>e<br>a<br>k<br>T<br>i<br>m<br>e</td>
               <td class="time" style="color: #ffffff; font-weight: 600; background-color: rgb(87, 87, 255);">9:40 - 11:10</td>
            </tr>

            <tr>
               <td class="day">MON</td>
               <td rowspan="2" class="time" style="color: black; font-weight: 600; background-color: rgb(255, 255, 121);">Business Skills</td>
               <td rowspan="2" class="time" style="color: black; font-weight: 600; background-color: rgb(123, 245, 198);">Digital Skills</td>
            </tr>

            <tr>
               <td class="day">TUE</td>
            </tr>

            <tr>
               <td class="day">WED</td>
               <td class="time" style="color: black; font-weight: 600; background-color: rgb(185, 113, 252);">Soft Skills</td>
               <td rowspan="3" class="time" style="color: black; font-weight: 600; background-color: rgb(245, 178, 189);">English</td>
            </tr>

            <tr>
               <td class="day">THU</td>
               <td rowspan="2" class="time" style="color: black; font-weight: 600; background-color: rgb(252, 121, 121);">Technological Skills</td>
            </tr>

            <tr>
               <td class="day">FRI</td>
            </tr>
         </table>
      </div>

      <div class="ending-holder">
         At <span style="color: rgb(255, 58, 58); font-weight: 600;">Luffy's Center</span>, we're not just teaching IT; we're empowering future IT leaders. 
         Grab this chance to code, design, and innovate your way to a brighter tomorrow!<br>Ready to 
         unlock your potential? Enroll now and craft a future where possibilities are limitless!
      </div>
   </div>

</body>
</html>