@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

body {
   width: 100%;
   background-color: rgb(51, 51, 51);
   padding: 0;
   margin: 0;
}

.fake-body {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
}

.first-part {
   width: 100%;
   height: 100%;
   position: relative;
   margin-bottom: 0;
}

.background {
   position: absolute;
   width: inherit;
   height: inherit;
   z-index: 1;
}

.blur-div {
   position: absolute;
   width: inherit;
   height: inherit;
   background: linear-gradient(to bottom, rgba(19, 21, 44, 0.9), rgba(19, 21, 44, 0.6), rgba(0, 0, 0, 0), rgba(19, 21, 44, 0.3), rgba(19, 21, 44, 1)), linear-gradient(to right, rgba(19, 21, 44, 0.9), rgba(19, 21, 44, 0.6), rgba(0, 0, 0, 0), rgba(19, 21, 44, 0.95), rgba(19, 21, 44, 0.95), rgba(19, 21, 44, 0.95));
   z-index: 2;
}

.navbar {
   position: fixed;
   top: 0;
   width: inherit;
   height: 80px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background-color: #323232;
   opacity: 0.8;
   z-index: 3;
}

.logo-holder {
   text-align: center;
   padding: 0 0 0 40px;
}

.logo-holder span {
   font-family: 'Roboto Slab', serif;
   font-size: 45px;
   font-weight: 800;
}

.link-holder {
   display: flex;
   justify-content: end;
   align-items: center;
}

.navbar div {
   margin: 0 40px;
}

a {
   text-decoration: none;
}

.navbar a {
   text-decoration: none;
   color: rgb(115, 255, 115);
   font-family: 'Gabarito', cursive;
   font-size: 22px;
   font-weight: 400;
}

.navbar a:hover {
   color: rgb(44, 202, 44);
   transition: 0.3s;
}

/* Content Holder */

.content-holder {
   width: inherit;
   height: inherit;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

.left-holder {
   flex: 1;
   padding: 50px 0 0 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: 3;
}

.right-holder {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 3;
}

.right-holder .image {
   width: 100%;
   height: auto;
}

.ads-holder {
   width: 100%;
   display: flex;
   margin-bottom: 40px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.ads-holder div {
   font-family: 'Open Sans', sans-serif;
   font-size: 20px;
   color: rgb(251, 255, 31);
}

.button-holder button {
   text-align: center;
   vertical-align: center;
   padding: 15px;
   color: rgb(255, 255, 255);
   font-weight: 500;
   font-size: 22px;
   font-family: 'Inclusive Sans', sans-serif;
   background-color: #1faa12;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   transition: 0.35s;
}

.button-holder button:hover {
   background-color: #147e2b;
}

/* Bottom Part */

.bottom-part {
   margin-top: 0;
   width: 100%;
   height: 50px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   font-family: 'Work Sans', sans-serif;
   font-size: 15px;
   color: #ff4500;
   background-color: #13152C;
}
